img {
    float: right;
    width: 300px;
    height: auto;
}

h1 {
    border-bottom: inset;
}


input[type=submit] {
    cursor: pointer;
}


img.normal {
    float: left;
    height: 300px;
    width: 300px;
}

img.alta {
    float: left;
    height: 420px;
    width: 300px;
}

h1 {
    border-bottom-style: inset;
}

#result p{
    margin : 5px;
    padding: 0px;
}